In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib as plt

## Exploratory Data Analysis

In [6]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Removing the unnecesarry columns.

In [7]:
df.drop(columns=['RowNumber','CustomerId','Surname'], inplace=True)

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Preparing the dependent and independent features

In [9]:
X=df.drop(columns=['Exited'])

In [10]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [11]:
y=df['Exited']

In [12]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

One hot encoding for categorical features.

In [13]:
geography=pd.get_dummies(X['Geography'],drop_first=True)
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [14]:
gender=pd.get_dummies(X['Gender'], drop_first=True)
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [15]:
X=pd.concat([X,geography,gender],axis=1)

In [16]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [17]:
X=X.drop(['Geography','Gender'],axis=1)

In [18]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_split=train_test_split(X,y,test_size=0.3,random_state=50)

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [22]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

### Implementing Artificial Neural Network

Importing the required libraries.

In [23]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

Sequential is creating an empty neural network, later each input/hidden/output layer will be added.

The First hidden layer has 10 neurons (units = 10, the initialization technique is 'he_uniform', the activation function is 'relu'. Input_dim is the input layer and it is equal to the number of features = 11.

In [24]:
classifier=Sequential()
classifier.add(Dense(units = 10, kernel_initializer= 'he_uniform',activation='relu',input_dim = 11))

The output layer comes with sigmoid function as it is binary classification problem.

In [25]:
#classifier.add(Dense(units = 10, kernel_initializer= 'he_normal',activation='relu'))
classifier.add(Dense(units = 20, kernel_initializer= 'he_normal',activation='relu'))
classifier.add(Dense(units = 15, kernel_initializer= 'he_normal',activation='relu'))
classifier.add(Dense(units = 1, kernel_initializer= 'glorot_uniform',activation='sigmoid'))

In [26]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

Adam optimizer will be used in our ANN. batch size for each epoch is 10 and we have 100 epochs.

In [27]:
model_history=classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, epochs=100)

Epoch 1/100
469/469 [==============================] - 5s 8ms/step - loss: 0.5261 - accuracy: 0.7804 - val_loss: 0.4637 - val_accuracy: 0.7936
Epoch 2/100
469/469 [==============================] - 1s 2ms/step - loss: 0.4224 - accuracy: 0.8175 - val_loss: 0.4361 - val_accuracy: 0.8066
Epoch 3/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4030 - accuracy: 0.8208 - val_loss: 0.4204 - val_accuracy: 0.8152
Epoch 4/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3791 - accuracy: 0.8381 - val_loss: 0.4047 - val_accuracy: 0.8260
Epoch 5/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3712 - accuracy: 0.8458 - val_loss: 0.3981 - val_accuracy: 0.8334
Epoch 6/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3537 - accuracy: 0.8499 - val_loss: 0.3877 - val_accuracy: 0.8304
Epoch 7/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3538 - accuracy: 0.8498 - val_loss: 0.3863 - val_accuracy: 0.8390
Epoch 8/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3305 - accuracy: 0.8627 - val_loss: 0.3792 - val_accuracy: 0.8403
Epoch 9/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3229 - accuracy: 0.8611 - val_loss: 0.3813 - val_accuracy: 0.8434
Epoch 10/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8549 - val_loss: 0.3751 - val_accuracy: 0.8455
Epoch 11/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3507 - accuracy: 0.8560 - val_loss: 0.3770 - val_accuracy: 0.8442
Epoch 12/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3146 - accuracy: 0.8728 - val_loss: 0.3722 - val_accuracy: 0.8434
Epoch 13/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3208 - accuracy: 0.8673 - val_loss: 0.3772 - val_accuracy: 0.8416
Epoch 14/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8590 - val_loss: 0.3744 - val_accuracy: 0.8464
Epoch 15/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3265 - accuracy: 0.8611 - val_loss: 0.3755 - val_accuracy: 0.8455
Epoch 16/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3380 - accuracy: 0.8530 - val_loss: 0.3737 - val_accuracy: 0.8507
Epoch 17/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3227 - accuracy: 0.8633 - val_loss: 0.3727 - val_accuracy: 0.8524
Epoch 18/100
469/469 [==============================] - 1s 2ms/step - loss: 0.3129 - accuracy: 0.8702 - val_loss: 0.3694 - val_accuracy: 0.8473
Epoch 19/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3175 - accuracy: 0.8720 - val_loss: 0.3692 - val_accuracy: 0.8511
Epoch 20/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3043 - accuracy: 0.8737 - val_loss: 0.3691 - val_accuracy: 0.8507
Epoch 21/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3169 - accuracy: 0.8693 - val_loss: 0.3717 - val_accuracy: 0.8550
Epoch 22/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3160 - accuracy: 0.8664 - val_loss: 0.3704 - val_accuracy: 0.8529
Epoch 23/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3164 - accuracy: 0.8670 - val_loss: 0.3678 - val_accuracy: 0.8546
Epoch 24/100
469/469 [==============================] - 2s 5ms/step - loss: 0.3050 - accuracy: 0.8710 - val_loss: 0.3677 - val_accuracy: 0.8542
Epoch 25/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3115 - accuracy: 0.8682 - val_loss: 0.3677 - val_accuracy: 0.8572
Epoch 26/100
469/469 [==============================] - 3s 6ms/step - loss: 0.3064 - accuracy: 0.8686 - val_loss: 0.3677 - val_accuracy: 0.8555
Epoch 27/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2998 - accuracy: 0.8711 - val_loss: 0.3684 - val_accuracy: 0.8520
Epoch 28/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2943 - accuracy: 0.8780 - val_loss: 0.3681 - val_accuracy: 0.8498
Epoch 29/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3010 - accuracy: 0.8728 - val_loss: 0.3703 - val_accuracy: 0.8516
Epoch 30/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3152 - accuracy: 0.8741 - val_loss: 0.3704 - val_accuracy: 0.8550
Epoch 31/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3150 - accuracy: 0.8632 - val_loss: 0.3695 - val_accuracy: 0.8498
Epoch 32/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2941 - accuracy: 0.8805 - val_loss: 0.3724 - val_accuracy: 0.8516
Epoch 33/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3107 - accuracy: 0.8669 - val_loss: 0.3712 - val_accuracy: 0.8537
Epoch 34/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3090 - accuracy: 0.8664 - val_loss: 0.3795 - val_accuracy: 0.8507
Epoch 35/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3018 - accuracy: 0.8689 - val_loss: 0.3682 - val_accuracy: 0.8498
Epoch 36/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3006 - accuracy: 0.8709 - val_loss: 0.3720 - val_accuracy: 0.8511
Epoch 37/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3003 - accuracy: 0.8771 - val_loss: 0.3695 - val_accuracy: 0.8524
Epoch 38/100
469/469 [==============================] - 3s 6ms/step - loss: 0.2932 - accuracy: 0.8792 - val_loss: 0.3726 - val_accuracy: 0.8486
Epoch 39/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3060 - accuracy: 0.8778 - val_loss: 0.3749 - val_accuracy: 0.8529
Epoch 40/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3045 - accuracy: 0.8690 - val_loss: 0.3739 - val_accuracy: 0.8490
Epoch 41/100
469/469 [==============================] - 3s 6ms/step - loss: 0.3021 - accuracy: 0.8736 - val_loss: 0.3710 - val_accuracy: 0.8507
Epoch 42/100
469/469 [==============================] - 4s 8ms/step - loss: 0.3036 - accuracy: 0.8713 - val_loss: 0.3723 - val_accuracy: 0.8533
Epoch 43/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2921 - accuracy: 0.8804 - val_loss: 0.3787 - val_accuracy: 0.8524
Epoch 44/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3005 - accuracy: 0.8697 - val_loss: 0.3769 - val_accuracy: 0.8429
Epoch 45/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2892 - accuracy: 0.8812 - val_loss: 0.3753 - val_accuracy: 0.8503
Epoch 46/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3007 - accuracy: 0.8736 - val_loss: 0.3763 - val_accuracy: 0.8498
Epoch 47/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3214 - accuracy: 0.8622 - val_loss: 0.3747 - val_accuracy: 0.8481
Epoch 48/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3059 - accuracy: 0.8652 - val_loss: 0.3770 - val_accuracy: 0.8481
Epoch 49/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3092 - accuracy: 0.8661 - val_loss: 0.3817 - val_accuracy: 0.8486
Epoch 50/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2996 - accuracy: 0.8688 - val_loss: 0.3750 - val_accuracy: 0.8494
Epoch 51/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2963 - accuracy: 0.8767 - val_loss: 0.3769 - val_accuracy: 0.8468
Epoch 52/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2810 - accuracy: 0.8839 - val_loss: 0.3808 - val_accuracy: 0.8498
Epoch 53/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3059 - accuracy: 0.8676 - val_loss: 0.3787 - val_accuracy: 0.8477
Epoch 54/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2973 - accuracy: 0.8731 - val_loss: 0.3786 - val_accuracy: 0.8490
Epoch 55/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2946 - accuracy: 0.8731 - val_loss: 0.3765 - val_accuracy: 0.8464
Epoch 56/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2817 - accuracy: 0.8818 - val_loss: 0.3789 - val_accuracy: 0.8473
Epoch 57/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2866 - accuracy: 0.8776 - val_loss: 0.3783 - val_accuracy: 0.8460

Epoch 58/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2879 - accuracy: 0.8792 - val_loss: 0.3850 - val_accuracy: 0.8498
Epoch 59/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2908 - accuracy: 0.8819 - val_loss: 0.3814 - val_accuracy: 0.8490
Epoch 60/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2783 - accuracy: 0.8826 - val_loss: 0.3827 - val_accuracy: 0.8481
Epoch 61/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2963 - accuracy: 0.8752 - val_loss: 0.3901 - val_accuracy: 0.8468
Epoch 62/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2970 - accuracy: 0.8687 - val_loss: 0.3902 - val_accuracy: 0.8516
Epoch 63/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2844 - accuracy: 0.8782 - val_loss: 0.3831 - val_accuracy: 0.8429
Epoch 64/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2847 - accuracy: 0.8814 - val_loss: 0.3815 - val_accuracy: 0.8451
Epoch 65/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2962 - accuracy: 0.8759 - val_loss: 0.3926 - val_accuracy: 0.8473
Epoch 66/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2898 - accuracy: 0.8769 - val_loss: 0.3836 - val_accuracy: 0.8442
Epoch 67/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2986 - accuracy: 0.8770 - val_loss: 0.3863 - val_accuracy: 0.8481
Epoch 68/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2762 - accuracy: 0.8809 - val_loss: 0.3800 - val_accuracy: 0.8447
Epoch 69/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3032 - accuracy: 0.8644 - val_loss: 0.3845 - val_accuracy: 0.8455
Epoch 70/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2882 - accuracy: 0.8795 - val_loss: 0.3865 - val_accuracy: 0.8399
Epoch 71/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2886 - accuracy: 0.8807 - val_loss: 0.3832 - val_accuracy: 0.8442
Epoch 72/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2967 - accuracy: 0.8724 - val_loss: 0.3877 - val_accuracy: 0.8455
Epoch 73/100
469/469 [==============================] - 2s 5ms/step - loss: 0.3006 - accuracy: 0.8736 - val_loss: 0.4035 - val_accuracy: 0.8490
Epoch 74/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2932 - accuracy: 0.8724 - val_loss: 0.3912 - val_accuracy: 0.8481
Epoch 75/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2909 - accuracy: 0.8745 - val_loss: 0.3893 - val_accuracy: 0.8477
Epoch 76/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2911 - accuracy: 0.8796 - val_loss: 0.3934 - val_accuracy: 0.8486
Epoch 77/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2964 - accuracy: 0.8725 - val_loss: 0.3904 - val_accuracy: 0.8451
Epoch 78/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2921 - accuracy: 0.8783 - val_loss: 0.3932 - val_accuracy: 0.8412
Epoch 79/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2926 - accuracy: 0.8778 - val_loss: 0.3905 - val_accuracy: 0.8468
Epoch 80/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2872 - accuracy: 0.8801 - val_loss: 0.3923 - val_accuracy: 0.8451
Epoch 81/100
469/469 [==============================] - 2s 5ms/step - loss: 0.2861 - accuracy: 0.8834 - val_loss: 0.3906 - val_accuracy: 0.8468
Epoch 82/100
469/469 [==============================] - 2s 5ms/step - loss: 0.2777 - accuracy: 0.8833 - val_loss: 0.3922 - val_accuracy: 0.8464
Epoch 83/100
469/469 [==============================] - 3s 6ms/step - loss: 0.2849 - accuracy: 0.8723 - val_loss: 0.3925 - val_accuracy: 0.8442
Epoch 84/100
469/469 [==============================] - 2s 5ms/step - loss: 0.2792 - accuracy: 0.8814 - val_loss: 0.3979 - val_accuracy: 0.8451
Epoch 85/100
469/469 [==============================] - 2s 4ms/step - loss: 0.2765 - accuracy: 0.8753 - val_loss: 0.3945 - val_accuracy: 0.8468
Epoch 86/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3001 - accuracy: 0.8711 - val_loss: 0.3966 - val_accuracy: 0.8455
Epoch 87/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2764 - accuracy: 0.8869 - val_loss: 0.3960 - val_accuracy: 0.8382
Epoch 88/100
469/469 [==============================] - 3s 6ms/step - loss: 0.2889 - accuracy: 0.8818 - val_loss: 0.3946 - val_accuracy: 0.8442
Epoch 89/100
469/469 [==============================] - 3s 6ms/step - loss: 0.2887 - accuracy: 0.8789 - val_loss: 0.3906 - val_accuracy: 0.8442
Epoch 90/100
469/469 [==============================] - 2s 5ms/step - loss: 0.2801 - accuracy: 0.8842 - val_loss: 0.4006 - val_accuracy: 0.8473
Epoch 91/100
469/469 [==============================] - 1s 2ms/step - loss: 0.2908 - accuracy: 0.8738 - val_loss: 0.3992 - val_accuracy: 0.8451
Epoch 92/100
469/469 [==============================] - 1s 2ms/step - loss: 0.2789 - accuracy: 0.8804 - val_loss: 0.4013 - val_accuracy: 0.8403
Epoch 93/100
469/469 [==============================] - 2s 3ms/step - loss: 0.2840 - accuracy: 0.8836 - val_loss: 0.4080 - val_accuracy: 0.8438
Epoch 94/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2866 - accuracy: 0.8777 - val_loss: 0.3986 - val_accuracy: 0.8429
Epoch 95/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2923 - accuracy: 0.8806 - val_loss: 0.3937 - val_accuracy: 0.8464
Epoch 96/100
469/469 [==============================] - 1s 3ms/step - loss: 0.2731 - accuracy: 0.8894 - val_loss: 0.4008 - val_accuracy: 0.8408
Epoch 97/100
469/469 [==============================] - 1s 2ms/step - loss: 0.2660 - accuracy: 0.8871 - val_loss: 0.4013 - val_accuracy: 0.8434
Epoch 98/100
469/469 [==============================] - 2s 5ms/step - loss: 0.2781 - accuracy: 0.8831 - val_loss: 0.3980 - val_accuracy: 0.8429
Epoch 99/100
469/469 [==============================] - 2s 5ms/step - loss: 0.2824 - accuracy: 0.8813 - val_loss: 0.4035 - val_accuracy: 0.8442
Epoch 100/100
469/469 [==============================] - 2s 5ms/step - loss: 0.2711 - accuracy: 0.8813 - val_loss: 0.4025 - val_accuracy: 0.8447

In [28]:
y_pred=classifier.predict(X_test)
y_pred=(y_pred > 0.5)

The output of y_pred is probabilities of classes, so we apply a filter to get the them true and false.

In [29]:
y_pred

array([[ True],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [30]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_split,y_pred)

The confusion matrix and the accuracy of the model.

In [31]:
cm

array([[2270,  131],
       [ 324,  275]], dtype=int64)

In [32]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_split,y_pred)
print(score)

0.8483333333333334

# Keras Tuner

In [114]:
from kerastuner.tuners import RandomSearch
from tensorflow.keras import layers

In [115]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='binary_crossentropy',
        metrics=['accuracy'])
    return model

In [116]:
tuner = RandomSearch(
    build_model,
    objective='val_accuracy',
    max_trials=5,
    executions_per_trial=3,
    directory='project',
    project_name='churn_modelling')

In [117]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [118]:
tuner.search(X_train, y_train,
             epochs=5,
             validation_data=(X_test, y_split))

Trial 5 Complete [00h 02m 11s]
val_accuracy: 0.8574444254239401

Best val_accuracy So Far: 0.8594444592793783
Total elapsed time: 00h 05m 53s
INFO:tensorflow:Oracle triggered exit

In [119]:
tuner.results_summary()

Results summary
Results in project\churn_modelling
Showing 10 best trials
Objective(name='val_accuracy', direction='max')
Trial summary
Hyperparameters:
num_layers: 7
units_0: 64
units_1: 96
learning_rate: 0.01
units_2: 32
units_3: 32
units_4: 32
units_5: 32
units_6: 32
Score: 0.8594444592793783
Trial summary
Hyperparameters:
num_layers: 18
units_0: 480
units_1: 320
learning_rate: 0.0001
units_2: 192
units_3: 320
units_4: 480
units_5: 384
units_6: 320
units_7: 160
units_8: 192
units_9: 320
units_10: 96
units_11: 192
units_12: 448
units_13: 352
units_14: 224
units_15: 416
units_16: 64
units_17: 384
Score: 0.8574444254239401
Trial summary
Hyperparameters:
num_layers: 14
units_0: 384
units_1: 384
learning_rate: 0.01
units_2: 160
units_3: 64
units_4: 192
units_5: 224
units_6: 512
units_7: 32
units_8: 32
units_9: 32
units_10: 32
units_11: 32
units_12: 32
units_13: 32
Score: 0.834333340326945
Trial summary
Hyperparameters:
num_layers: 18
units_0: 192
units_1: 160
learning_rate: 0.01
units_2: 480
units_3: 128
units_4: 416
units_5: 480
units_6: 256
units_7: 64
units_8: 256
units_9: 256
units_10: 384
units_11: 128
units_12: 96
units_13: 128
units_14: 32
units_15: 32
units_16: 32
units_17: 32
Score: 0.8161111076672872
Trial summary
Hyperparameters:
num_layers: 13
units_0: 448
units_1: 224
learning_rate: 0.01
units_2: 448
units_3: 256
units_4: 96
units_5: 160
units_6: 416
units_7: 96
units_8: 96
units_9: 416
units_10: 480
units_11: 128
units_12: 320
units_13: 480
Score: 0.8073333303133646

## Hyperparameter Tuning

In [169]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV
from keras.activations import relu, sigmoid
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout

In [170]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [171]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [172]:
layers=[(20,), (20,40), (45,30,15)]
activations = ['relu','sigmoid']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)

In [173]:
grid_result = grid.fit(X_train, y_train)

[grid_result.best_score_,grid_result.best_params_]

[0.8557142853736878,
 {'activation': 'relu',
  'batch_size': 128,
  'epochs': 30,
  'layers': (45, 30, 15)}]

In [174]:
y_pred=grid.predict(X_test)
y_predict = (y_pred > 0.5)

c:\python37\lib\site-packages\tensorflow\python\keras\engine\sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [175]:
cm = confusion_matrix(y_predict,y_split)

In [176]:
cm

array([[2322,  341],
       [  79,  258]], dtype=int64)

In [177]:
score=accuracy_score(y_predict,y_split)

In [178]:
score

0.86